@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<!-- content test för depukking -->


<p>
    @Html.Raw(ViewBag.Context)
    </p>

<p>@Html.Raw(ViewBag.Achievement)</p>

    <h2>Seuraava rasti:</h2> 
    <br />
    @Html.Raw(ViewBag.Clue)


 




