@{
    ViewBag.Title = "TestView";
}


<p>@Html.Raw(ViewBag.Message)</p>

<p>
    @Html.Raw(ViewBag.Context)
    </p>

<p>@Html.Raw(ViewBag.Achievement)</p>
<h2>Seuraava rasti:</h2> 
<br />
@Html.Raw(ViewBag.Clue)